.menu-inclusao {
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    text-align: center;
    color: white;
    z-index: 2;
}

.menu-inclusao > ul > li,
.menubar-inclusao {
    list-style: none;
    padding: 20px;
}

.menu-inclusao > ul > li {
    padding: 20px;
    background-color: #03428f;
    border: 1px solid #004ba8;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-inclusao > ul > li:hover {
    background-color: #0e6fe8;
}

.menu-inclusao > ul > .menubar-inclusao.menubar-inclusao {
    background-color: #0e6fe8;
    padding: 10px;
    border: none;
}
