.modal-sucesso {
    background: #fff;
    border-radius: 5px;
    min-width: 360px;
    min-height: 150px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
}

.overlay-modal {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.botao {
    margin: 5px;
    margin-top: 70px;
    width: 200px;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    background-color: #0e6fe8;
    cursor: pointer;
}

.botao:hover {
    background-color: #0e70e8ad;
}

.mensagem-container {
    padding: 10rem 0;
}
