<section class="col-12 d-flex justify-content-end">
    <div class="container-formulario-criar-cliente mt-5 col-12 d-flex flex-column align-items-between">
        <div class="nome-formulario">
            <h3 class="p-0 m-0">Cadastrar Cliente</h3>
        </div>
        <form [formGroup]="formulario" class="formulario-criar-cliente m-2 d-flex flex-column justify-content-between">
            <div class="d-flex flex-wrap">
                <div class="campo p-2 d-flex flex-column col-8">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" formControlName="nome" />
                    <div class="mensagem_erro" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">Nome é obrigatório.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('nome')?.errors?.['pattern'] && formulario.get('nome')?.touched">Nome precisa ter caracteres válidos.</div>
                </div>

                <div class="campo p-2 d-flex flex-column col-4">
                    <label for="sexo">Sexo:</label>
                    <select class="form-select" id="sexo" formControlName="sexo">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                    <div class="mensagem_erro" *ngIf="formulario.get('sexo')?.errors?.['required'] && formulario.get('sexo')?.touched">Sexo é obrigatório.</div>
                </div>

                <div class="campo p-2 d-flex flex-column col-6">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" formControlName="cpf" />
                    <small>Formato: xxx.xxx.xxx-xx</small>
                    <div class="mensagem_erro" *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched">CPF é obrigatório.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('cpf')?.errors?.['maxlength'] && formulario.get('cpf')?.touched">CPF pode ter no máximo 14 caracteres. Preze pelo formato da descrição.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('cpf')?.errors?.['minlength'] && formulario.get('cpf')?.touched">CPF pode ter no mínimo 14 caracteres. Preze pelo formato da descrição.</div>
                </div>

                <div class="campo p-2 d-flex flex-column col-4">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" formControlName="dataNascimento" />
                    <div class="mensagem_erro" *ngIf="formulario.get('dataNascimento')?.errors?.['required'] && formulario.get('dataNascimento')?.touched">Data de nascimento é obrigatório.</div>
                </div>

                <div class="campo p-2 d-flex flex-column col-2">
                    <label for="peso">Peso:</label>
                    <input type="number" id="peso" formControlName="peso" step="0.01" />
                    <div class="mensagem_erro" *ngIf="formulario.get('peso')?.errors?.['required'] && formulario.get('peso')?.touched">Peso é obrigatório.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('peso')?.errors?.['min'] && formulario.get('peso')?.touched">Digite um valor viável para o peso. Maior que 0.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('peso')?.errors?.['max'] && formulario.get('peso')?.touched">Digite um valor viável para o peso. Menor que 500.</div>
                </div>

                <div class="campo p-2 d-flex flex-column col-1">
                    <label for="altura">Altura:</label>
                    <input type="number" id="altura" formControlName="altura" step="0.01" (blur)="testeValidacao()" />
                    <div class="mensagem_erro" *ngIf="formulario.get('altura')?.errors?.['required'] && formulario.get('altura')?.touched">Altura é obrigatório.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('altura')?.errors?.['min'] && formulario.get('altura')?.touched">Digite um valor viável para a altura. Maior que 0.</div>
                    <div class="mensagem_erro" *ngIf="formulario.get('altura')?.errors?.['max'] && formulario.get('altura')?.touched">Digite um valor viável para o altura. Menor que 2,5.</div>
                </div>

                <div class="campo position-relative p-2 d-flex flex-column col-5">
                    <label for="telefones">Telefones:</label>
                    <input type="text" formControlName="telefones" />
                    <small>Formato: (xx) xxxxx-xxxx</small>
                </div>
                <div class="campo position-relative p-2 d-flex flex-column col-6">
                    <label for="emails">Emails:</label>
                    <input type="email" formControlName="emails" />
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button [disabled]="!formulario.valid" (click)="criarCliente()" class="btn salvar">Salvar</button>
                <button class="btn cancelar ml-2" (click)="limparCampos()">Cancelar</button>
            </div>
        </form>
    </div>
</section>
