.container-formulario-criar-cliente {
    min-height: 60vh;
    border-radius: 5px;
    background-color: #f1f5f6;
    border: 0.5px solid #b8b8b8;
}

.nome-formulario {
    background-color: #004ba8;
    color: white;
    padding: 10px;
    margin: 0 -16px;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: -2px;
}

.formulario-criar-cliente {
    min-height: 48vh;
}

input,
select {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

input {
    height: 2rem;
    padding: 10px 3px;
}

input:focus {
    outline: none;
    border: 1px solid #888888;
}

select {
    height: 2rem;
    background-color: white;
}

select:focus {
    outline: none;
    border: 1px solid #888888;
}

.salvar,
.cancelar,
.btn-rm-telefone,
.btn-add-telefone,
.btn-rm-email,
.btn-add-email {
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
}

.btn-add-telefone,
.btn-add-email {
    padding: 3px 12.5%;
    margin-top: 15px;
    background-color: green;
    cursor: pointer;
}

.btn-rm-telefone,
.btn-rm-email {
    background-color: red;
    padding: 5px 8px;
    margin-left: 5px;
    cursor: pointer;
}

.input-telefones,
.input-emails {
    margin-bottom: 7px;
}

.salvar {
    background-color: #f16a02;
}

.cancelar {
    background-color: #0e6fe8;
}

.campo {
    position: relative;
}

.mensagem_erro {
    position: absolute;
    font-size: 12px;
    color: red;
    top: 90%;
}
