<section class="col-12 d-flex justify-content-end">
    <div class="container-formulario-criar-medico mt-5 col-12 d-flex flex-column align-items-between">
        <div class="nome-formulario">
            <h3 class="p-0 m-0">Cadastrar Médico</h3>
        </div>
        <form class="formulario-criar-medico m-2 d-flex flex-column justify-content-between">
            <div class="d-flex flex-wrap">
                <div class="p-2 d-flex flex-column col-8">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" />
                </div>

                <div class="p-2 d-flex flex-column col-4">
                    <label for="sexo">Sexo:</label>
                    <select class="form-select" id="sexo" name="sexo">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>

                <div class="p-2 d-flex flex-column col-6">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" />
                    <small>Formato: xxx.xxx.xxx-xx</small>
                </div>

                <div class="p-2 d-flex flex-column col-4">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" name="dataNascimento" />
                </div>

                <div class="p-2 d-flex flex-column col-2">
                    <label for="peso">Peso:</label>
                    <input type="number" id="peso" name="peso" step="0.01" />
                </div>

                <div class="p-2 d-flex flex-column col-2">
                    <label for="altura">Altura:</label>
                    <input type="number" id="altura" name="altura" step="0.01" />
                </div>

                <div class="p-2 d-flex flex-column col-4">
                    <label for="crm">CRM:</label>
                    <input type="text" id="crm" name="crm" pattern="[0-9]{2}\.[0-9]{3}\.[A-Za-z]{2}" />
                    <small>Formato: xx.xxx.XX</small>
                </div>

                <div class="p-2 d-flex flex-column col-6">
                    <label for="especialidade">Especialidades:</label>
                    <input type="text" id="especialidade" name="especialidade" list="sugestoes" />
                    <datalist id="sugestoes">
                        <option value="Ginicologista"></option>
                        <option value="Pediatra"></option>
                        <option value="Ortopedista"></option>
                        <option value="Clínico Geral"></option>
                        <option value="Psicólogo"></option>
                    </datalist>
                    <small>Selecionados: <span></span></small>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn salvar">Salvar</button>
                <button class="btn cancelar ml-2">Cancelar</button>
            </div>
        </form>
    </div>
</section>
